::ng-deep .swal2-backdrop-show .swal2-popup{
    width: 750px;
    padding-left: 10px;
    padding-right: 10px;

}
::ng-deep .swal2-backdrop-show .swal2-popup .swal2-content{
    padding-left: 10px;
    padding-right: 10px;
}
