<div class ="sidebar-logo-group" style="display: flex;justify-content: space-between;">

  <span class="brand-link brand-link-custom" [routerLink]="['home']">
    <img
      src="assets/img/HRM.png"
      alt="Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8;"
    />
    <span class="brand-text font-weight-light">HRM</span>

  </span>

  <span class="toggle-icon" href="javascript:;" (click)="toggleSidebar()">
    <i class="fas fa-bars fa-lg"></i>
  </span>
</div>

