.al-center {
  align-items: center;
}

.mat-menu-panel {
  min-width: 130px;
}

.table td {
  vertical-align: middle;
}

.badge {
  margin-left: 2px;
}

.fs-14 {
  font-size: 14px;
}

.preView::-webkit-scrollbar,
.review::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.preView::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
}

.preView {
  cursor: pointer;
  overflow-y: auto;
  max-height: 72px;
}

.cursor-pointer {
  cursor: pointer;
}
