<div class="px-4 pt-1">
    <div class="breadcrumb al-center">
      <a [routerLink]="['/']"><i class="fa-solid fa-house fa-sm"></i></a>
      <i class="fa-solid fa-chevron-right p-1"></i>
      <span>Chart</span>
    </div>
    <div class="card">
      <div class="card-header d-flex">
        <div class="col-6 p-0">
          <app-search
            [placeholder]="'Search by Chart Name'"
            [seachText]="searchText"
            (onSearch)="onSearchEnter($event)"
          ></app-search>
        </div>
        <div class="col-3">
          <table-filter
            [filterType]="filterTypeEnum.Dropdown"
            [dropdownData]="filterList"
            [placeholder]="'Status'"
            [defaultValue]="defaultValue"
            (onTableFilter)="
              onTableFilter(filterTypeEnum.Dropdown, $event, 'isActive')
            "
          >
          </table-filter>
        </div>
        <div class="col-3 p-0 mt-1 text-right">
          <app-create-button
            *ngIf="isShowCreateBtn()"
            (create)="onCreate()"
          ></app-create-button>
        </div>
      </div>
      <div class="card-body pb-1" id="bg-table">
        <div class="table-responsive">
          <div class="fixTableHead">
            <table class="table table-striped table-hover" [busy]="isLoading">
              <thead>
                <tr>
                  <th class="col-stt">#</th>
                  <th>Name</th>
                  <th class="col-1">Share to Users</th>
                  <th class="col-1">Share to Roles</th>
                  <th class="col-1">Data type</th>
                  <th class="col-1">Type</th>
                  <th class="col-1">Active</th>
                  <th class="col-1">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let chart of chartList
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          };
                    let i = index
                  "
                >
                  <td class="text-center">
                    {{ (pageNumber - 1) * pageSize + i + 1 }}
                  </td>
                  <td>
                    <a
                      [routerLink]="['/app/categories/chart-details']"
                      [queryParams]="{ id: chart.id }"
                      >{{ chart.name }}</a
                    >
                  </td>
                  <td>
                    <div
                      *ngIf="
                        chart.shareToUsers.length > 0
                      "
                      class="filter-box border-lime"
                    >
                      <span
                        *ngFor="
                          let item of chart.shareToUsers;
                          index as i
                        "
                      >
                        {{ item.key
                        }}{{
                          i < chart.shareToUsers.length - 1
                            ? ","
                            : ""
                        }}
                      </span>
                    </div>
                  </td>
                  <td>
                    <div
                      *ngIf="
                        chart.shareToRoles.length > 0
                      "
                      class="filter-box border-lime"
                    >
                      <span
                        *ngFor="
                          let item of chart.shareToRoles;
                          index as i
                        "
                      >
                        {{ item.key
                        }}{{
                          i < chart.shareToRoles.length - 1
                            ? ","
                            : ""
                        }}
                      </span>
                    </div>
                  </td>
                  <td class="text-center">{{ chart.chartDataTypeName }}</td>
                  <td class="text-center">{{ chart.chartTypeName }}</td>
                  <td class="text-center">
                    <div class="custom-control custom-checkbox ml-2 mt-1">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        disabled
                        [checked]="chart.isActive"
                      />
                      <label class="custom-control-label"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <button mat-button [matMenuTriggerFor]="menu">
                      <i class="fas fa-bars fa-lg"></i>
                    </button>
                    <mat-menu
                      #menu="matMenu"
                      class="p-2"
                    >
                    <button
                        *ngIf="isShowEditBtn()"
                        (click)="onClone(chart)"
                        class="mat-menu-item w-100"
                      >
                        <i class="fas fa-clone mr-1"></i>
                        <span>Clone</span>
                      </button>
                      <button
                        *ngIf="isShowEditBtn()"
                        (click)="onUpdate(chart)"
                        class="mat-menu-item w-100"
                      >
                        <i class="fas fa-pencil-alt mr-1"></i>
                        <span>Edit</span>
                      </button>
                      <button
                        *ngIf="isShowActiveBtn()"
                        class="mat-menu-item"
                        (click)="
                          chart.isActive
                            ? onDeActive(chart.id)
                            : onActive(chart.id)
                        "
                      >
                        <i class="fas fa-edit fa-lg mr-1"></i>
                        <span>{{ chart.isActive ? "Deactive" : "Active" }}</span>
                      </button>
                      <button
                        *ngIf="isShowDeleteBtn()"
                        class="mat-menu-item w-100"
                        (click)="onDelete(chart)"
                      >
                        <i class="fas fa-trash fa-lg mr-1"></i>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <pagination-control
          [totalItems]="totalItems"
          [pageSize]="pageSizeType"
          (pageAction)="pageControlActions($event)"
        ></pagination-control>
      </div>
    </div>
  </div>
  