<div class="row pt-2" *ngIf="isAllowViewTabBonus()">
    <div class="w-100 align-items-center pb-2">
        <div class="row">
            <div class="col-6">
                <app-search [placeholder]="'Search by Name'" [seachText]="searchText"
                    (onSearch)="onSearchEnter($event)"></app-search>
            </div>
            <div class="col-3">
                <table-filter [searchable]="true" [filterType]="filterTypeEnum.Dropdown" [dropdownData]="listDate"
                    [placeholder]="'Date'" [defaultValue]="this.applyMonthDefault"
                    (onTableFilter)="onTableFilter(filterTypeEnum.Dropdown, $event, 'applyMonth')">
                </table-filter>
            </div>
            <div class="col-3">
                <table-filter [filterType]="filterTypeEnum.Dropdown" [dropdownData]="bonusStatusList"
                    [placeholder]="'Is Active'" [defaultValue]="bonusStatus"
                    (onTableFilter)="onTableFilter(filterTypeEnum.Dropdown, $event, 'isActive')">
                </table-filter>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div class="fixTableHead">
            <table class="table table-stripped" [busy]="isLoading">
                <thead>
                    <tr>
                        <th class="col-stt">No</th>
                        <th>ID</th>
                        <th>
                            Name
                            <sortable [sortProperty]="sortProperty" [sortDirection]="sortDirection" [name]="'bonusName'"
                                (click)="onSortChange('bonusName')"></sortable>
                        </th>
                        <th>
                            Money
                            <sortable [sortProperty]="sortProperty" [sortDirection]="sortDirection" [name]="'money'"
                                (click)="onSortChange('money')"></sortable>
                        </th>
                        <th>Status</th>
                        <th>
                            Apply month
                            <sortable [sortProperty]="sortProperty" [sortDirection]="sortDirection" [name]="'applyMonth'"
                                (click)="onSortChange('applyMonth')"></sortable>
                        </th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                    let bonus of employeeBonusDetailList 
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          };
                    let i = index
                  ">
                        <td class="text-center">{{(pageNumber-1)*pageSize+i+1}}</td>
                        <td class="text-right text-bold "><a class="hyper-link" [routerLink]="['/app','bonuses','list-bonus','bonus-detail','bonus-employee']" 
                            [queryParams]="{ 
                                id: bonus.bonusId,
                                name: bonus.name,
                                active: bonus.isActive,
                                applyMonth: bonus.applyMonth
                            }"
                                class="hyperlink">{{bonus.id}}</a></td>
                        <td>
                            <a class="hyperlink" (click)="viewDetail(bonus)">{{bonus.bonusName}}</a>
                        </td>
                        <td class="text-center">
                            {{bonus.money |number:'1.0':'en-US'}}
                        </td>
                        <td class="text-center">
                            <i class="fa-solid fa-check text-success fa-lg" *ngIf="bonus.isActive"></i>
                        </td>
                        <td class="text-center">{{bonus.applyMonth | date:'MM/YYYY' }}</td>
                        <td class="content-note">{{bonus.note}}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid p-0">
        <pagination-control [totalItems]="totalItems" [pageSize]="pageSizeType"
            (pageAction)="pageControlActions($event)"></pagination-control>
    </div>
</div>