.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.al-center {
    align-items: center;
}

.jc-left {
    justify-content: left;
}

.jc-right {
    justify-content: right;
}

.fs-16 {
    font-size: 16px;
}

.badge-error {
    background-color: red;
}

.border-red {
    border: 2px solid red;
}

.border-black {
    border: 2px solid #000000;
}

.border-blue {
    border: 2px solid #0000FF;
}

.border-cyan {
    border: 2px solid #37daff;
}

.border-green {
    border: 2px solid #41cb41;
}

.border-orange {
    border: 2px solid #FFA500;
}

.border-brown {
    border: 2px solid #A52A2A;
}

.border-gray {
    border: 2px solid #808080;
}

.border-pink {
    border: 2px solid #FFC0CB;
}

.border-yellow {
    border: 2px solid #ffc800;
}

.border-purple {
    border: 2px solid #800080;
}

.border-lime {
    border: 2px solid #008000;
}

.w-content {
    width: fit-content;
}

.filter-box {
    width: fit-content;
    padding: 0 4px;
    margin: 4px;
    border-radius: 4px;
    font-size: 13px;
    display: inline-block;
}

.filter-box:hover {
    transform: scaleX(1.02);
    transition: all 0.3s;
}

.col-action {
    width: 110px;
}

.table td {
    vertical-align: middle;
  }