<form class="form-horizontal" autocomplete="off" #modifyPunishmentRefund="ngForm" novalidate>
    <app-dialog-header [dialogTitle]="title"></app-dialog-header>
    <div class="pt-3 px-3">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">User:</label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select name="user" [(ngModel)]="employeeId" #userValid="ngModel" required
                        (closed)="searchUser = ''" placeholder="Select a User">
                        <mat-form-field class="w-100" style="position: sticky; top: 0; z-index: 2; background: white;">
                            <input matInput [(ngModel)]="searchUser" name="search" #search placeholder="Search"
                                (keydown)="$event.stopPropagation()">
                        </mat-form-field>
                        <mat-option *ngFor="let data of listEmployeeExceptStatusQuit | listFilter: 'fullName' : searchUser : 'email'"
                            [value]="data.id">
                            {{data.fullName}} - ({{data.email}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error *ngIf="userValid.hasError('required') && userValid.touched">
                    This field is required
                </mat-error>
            </div>
        </div>
        
        <div *ngIf="isChecksBenfit()" class="form-group row required mt-3">
            <label class="col-md-3 col-form-label">Benefit:</label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="w-100 mt-2">
                    <mat-label>Danh sách Benefit</mat-label>
                    <mat-select [value]="defaultBenefit" [compareWith] = "compareBenefit" (selectionChange)="onBenefitChange($event.value)">
                      <mat-option *ngFor="let item of listBenefit" [value]="item">
                        {{ item.name }}:
                        <span [ngStyle]="{ color: APP_ENUM.BenefitTypeColor[item.type] }">
                          {{ listTypeBenefit[item.type] }}
                        </span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field></div>
        </div>
        
        <div class="form-group row required mt-3">
            <label class="col-md-3 col-form-label">Amount:</label>
            <div class="col-md-9">
                <mat-form-field class="w-100" appearance="outline">
                    <input matInput name="money" [(ngModel)]="amount"    placeholder="Enter amount*"
                        mask="separator" thousandSeparator="," min="0" #money="ngModel" required>
                </mat-form-field>
            </div>
        </div>
        
        
        <div class="form-group row mt-3">
            <label class="col-md-3 col-form-label">Note:</label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="w-100">
                    <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" name="note" rows="3"
                        matInput placeholder="Enter note..." [(ngModel)]="note"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    
    <app-dialog-footer (onSave)="saveAndClose()" [isDisable]="!modifyPunishmentRefund.valid || isLoading"></app-dialog-footer>
</form>