<form [formGroup]="formGroup" class="form-horizontal" [busy]="isLoading">
  <div class="dialog-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="out-line w-100 d-flex justify-content-between">
        <div class="dialogTitle" [innerHTML]="title">
        </div>
        <div class="pt-2">
            <button *ngIf="isShowEditBtn() && isEdit"
                    [ngClass]="isViewOnly ? 'btn btn-primary mr-3 editModeBtn' : 'btn btn-success mr-3 editModeBtn'" 
                    (click)="onChangeEditMode()">{{ isViewOnly ? 'Edit' : 'View' }}</button>
            <button class="close-btn p-0">
                <i class="fas fa-times" mat-dialog-close=></i>
            </button>
        </div>
    </div>
  </div>
  <div class="p-3" *ngIf="!isLoading">
    <div class="form-group d-flex required">
      <label class="col-3 mt-2 col-form-label">Name:</label>
      <div class="col-8">
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            formControlName="name"
            cdkFocusInitial
            #nameEl
            required
          />
        </mat-form-field>
        <abp-validation-summary
          [control]="formGroup.get('name')"
          [controlEl]="nameEl"
        >
        </abp-validation-summary>
      </div>
    </div>
    <div class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">Gender: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listGender"
          [searchPlaceholder]="'Find gender'"
          [multiControl]="formGroup.controls.gender"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.gender.value &&
          formGroup.controls.gender.value.length > 0 &&
          !isViewOnly
        "
        class="btn-clear-all"
        (click)="onClearAllFilter('gender')"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">Branch: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listBranches"
          [searchPlaceholder]="'Find Branch'"
          [multiControl]="formGroup.controls.branches"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.branches.value &&
          formGroup.controls.branches.value.length > 0 &&
          !isViewOnly
        "
        (click)="onClearAllFilter('branches')"
        class="btn-clear-all"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">Job position: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listJobPositions"
          [searchPlaceholder]="'Find Job Position'"
          [multiControl]="formGroup.controls.jobPositions"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.jobPositions.value &&
          formGroup.controls.jobPositions.value.length > 0 &&
          !isViewOnly
        "
        (click)="onClearAllFilter('jobPositions')"
        class="btn-clear-all"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">Level: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listLevels"
          [searchPlaceholder]="'Find Level'"
          [multiControl]="formGroup.controls.levels"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.levels.value &&
          formGroup.controls.levels.value.length > 0 &&
          !isViewOnly
        "
        (click)="onClearAllFilter('levels')"
        class="btn-clear-all"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">Team: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listTeams"
          [searchPlaceholder]="'Find Team'"
          [multiControl]="formGroup.controls.teams"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.teams.value &&
          formGroup.controls.teams.value.length > 0 &&
          !isViewOnly
        "
        (click)="onClearAllFilter('teams')"
        class="btn-clear-all"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">User type: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listUserTypes"
          [searchPlaceholder]="'Find UserType'"
          [multiControl]="formGroup.controls.userTypes"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.userTypes.value &&
          formGroup.controls.userTypes.value.length > 0 &&
          !isViewOnly
        "
        (click)="onClearAllFilter('userTypes')"
        class="btn-clear-all"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div *ngIf="!isChartSalaryDataType" class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">Working status: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listWorkingStatuses"
          [searchPlaceholder]="'Find WorkingStatus'"
          [multiControl]="formGroup.controls.workingStatuses"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.workingStatuses.value &&
          formGroup.controls.workingStatuses.value.length > 0 &&
          !isViewOnly
        "
        (click)="onClearAllFilter('workingStatuses')"
        class="btn-clear-all"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div *ngIf="isChartSalaryDataType" class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label">Payslip detail type: </label>
      <div class="col-8">
        <app-multi-select-box
          class="w-100"
          [list]="listPayslipDetailTypes"
          [searchPlaceholder]="'Find PayslipDetailType'"
          [multiControl]="formGroup.controls.payslipDetailTypes"
        >
        </app-multi-select-box>
      </div>
      <button
        *ngIf="
          formGroup.controls.payslipDetailTypes.value &&
          formGroup.controls.payslipDetailTypes.value.length > 0 &&
          !isViewOnly
        "
        (click)="onClearAllFilter('payslipDetailTypes')"
        class="btn-clear-all"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="form-group d-flex">
      <label class="col-3 mt-2 col-form-label"> Color: </label>
      <div class="d-flex align-items-center pl-2">
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            name="color"
            [value]="formGroup.value.color"
            formControlName="color"
          />
        </mat-form-field>
        <div class="d-flex align-items-center">
          <input
            class="ml-3 color-picker"
            type="color"
            name="color"
            [value]="formGroup.value.color"
            formControlName="color"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="pr-3 pl-3">
    <div class="d-flex justify-content-end btn-footer-action">
        <button class="btn mr-2 btn-secondary" mat-dialog-close>Cancel</button>
        <button [style.display]="isViewOnly ? 'none' : 'flex'" [disabled]="isLoading" class="btn btn-primary" (click)="saveAndClose()">Save</button>
    </div>
</div>
</form>
