.d-flex {
    align-items: center;
}

.btn-clear-all {
    display: block;
    width: 36px;
    height: 36px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-clear-all:hover {
    border: 1px solid black;
    scale: 0.99;
    transition: all 0.3s;
}
.dialogTitle{
    font-size: 25px;
}
.dialog-header{
    cursor: move;
}
.out-line{
    border-bottom: 0.2px solid rgba(204, 204, 204, 0.35);
    ;
}
.close-btn{
    background: none;
    border: none;
}

.editModeBtn {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
