<div class="row pt-3" *ngIf="isAllowViewTabBranchHistory()">
    <div class="table-responsive">
        <div class="fixTableHead">
            <table class="table table-stripped" [busy]="isLoading">
                <thead>
                    <tr>
                        <th class="col-stt">No</th>
                        <th>Branch</th>
                        <th>Date</th>
                        <th>Note</th>
                        <th>Updated time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let history of listBranchHistory; let i = index">
                        <ng-container *ngIf="!history.isEdit">
                            <td class="text-center">{{i + 1}}</td>
                            <td class="text-center col-branch">
                                <span class="badge text-white" [ngStyle]="{backgroundColor: history.branchInfo.color}">
                                    {{history.branchInfo.name}}
                                </span>
                            </td>
                            <td class="text-center col-date">{{history.dateAt | DMYDateFormat}}</td>
                            <td class="col-note">
                                <div class="row">
                                    <div class="full-note col-10">
                                        {{history.note}}
                                    </div>
                                    <div class="col-2  text-right" *ngIf="isShowEditBtn()">
                                        <i class="fas fa-edit icon-edit" (click)="onEdit(history)">
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td class="col-updatedTime text-center">
                                {{history.updatedTime | dmyHmDateFormat}}<br>
                                by <b>{{history.updatedUser}}</b>
                            </td>
                            <td class="col-action text-center">
                                <btn *ngIf="!history.isNotAllowToDelete && isShowDeleteBtn()" (click)="delete(history.id)" class="btn btn-sm btn-danger">
                                    Delete
                                </btn>
                            </td>  
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>