<div class="card-header move-cursor" cdkDrag cdkDragRootElement=".modal-content, .cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex justify-content-between">
        <div class="col-9 p-0 d-flex align-items-center">
            <span style="font-size: 20px;">
                <ng-container>
                    {{this.data.chartData.name}}
                    <i class="fas fa-chevron-right"></i>
                    {{this.chartDetailName}}
                </ng-container>
            </span>
            <div class="d-inline" style="font-size: 20px;">
                <span class="badge bg-primary ml-2">{{startDate | DMYDateFormat}}
                    - {{endDate | DMYDateFormat}}</span>
                <button class="viewBtn btn btn-outline-primary btn-sm ml-2" (click)="onViewDetail()">
                    <mat-icon style="font-size: 20px; vertical-align: middle; height: fit-content;">settings</mat-icon>
                </button> 
            </div>
        </div>

        <div class="d-flex align-items-center">
            <span *ngIf="!isEmployeeChart" class="total mr-4"><strong>Tổng: {{totalMoney | moneyFormat}}</strong></span>
            <i class="fas fa-times pointer" (click)="onClose()"></i>
        </div>
        
    </div>
</div>
<div class="card-body" id="chartDetailData">
    <div class="table-responsive mt-3">
        <div class="fixTableHead">
            <table class="table table-striped table-hover" [busy]="isLoading">
                <thead>
                    <tr>
                        <th class="text-center align-middle stt">Id</th>
                        <th class="text-center align-middle">Employee</th>
                        <th *ngIf="isEmployeeChart" class="text-center align-middle col-3">Working Status by Month</th>
                        <th *ngIf="!isEmployeeChart" class="text-center align-middle col-3">Money by Month</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let group of groupedData | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage }">
                        <td class="text-center">{{ group[0].employeeId }}</td>
                        <td>
                            <app-user-info [userData]="{
                                id: group[0].employeeId,
                                fullName: group[0].fullName,
                                avatarFullPath: group[0].avatarFullPath,
                                sex: group[0].gender,
                                email: group[0].email,
                                levelInfo: group[0].levelInfo,
                                branchInfo: group[0].branchInfo,
                                jobPositionInfo: group[0].jobPositionInfo,
                                userTypeInfo: group[0].userTypeInfo
                            }" 
                            [isAllowRouting]="isAllowRoutingDetail()" [isAllowAvatarRouting]="isAllowRoutingDetail()">
                            </app-user-info>
                        </td>
                        <td>
                            <div *ngIf="isEmployeeChart" (click)="toggleMonthlyStatus(group)">
                                <p [ngClass]="group.hideMonthlyStatus == false ? 'preReview' : 'review'"
                                    title="Cuộn chuột hoặc Click để mở rộng nội dung"
                                    name="monthlyStatus">
                                    <ng-container class="p-2">
                                        <div class="row" *ngFor="let item of group">
                                            <div class="col-6 ml-2 text-left">
                                                <span [ngClass]="getMonthlyStatusStyle(item.monthlyStatus, true)">
                                                    {{getMonthlyStatus(item.monthlyStatus)}}
                                                </span>
                                            </div>
                                            <div class="col-5 text-left">
                                                {{item.statusMonth | MyDateFormat}} 
                                            </div>
                                        </div>
                                    </ng-container>
                                </p>
                            </div>
                            <div *ngIf="!isEmployeeChart" (click)="toggleMonthlyMoney(group)">
                                <p [ngClass]="group.hideMonthlyMoney == false ? 'preReview' : 'review'"
                                    title="Cuộn chuột hoặc Click để mở rộng nội dung"
                                    name="monthlyMoney">
                                    <ng-container class="p-2">
                                        <div class="row" *ngFor="let item of group">
                                            <div class="col-6 text-right">
                                                {{item.money | moneyFormat}}
                                            </div>
                                            <div class="col-5 text-left">
                                                {{item.payrollMonth | MyDateFormat}} 
                                            </div>
                                        </div>
                                    </ng-container>
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-2 d-flex justify-content-between">
        <div class="col-sm-3 col-3 text-sm-left text-center d-flex align-items-center">
            <button class="btn btn-primary" (click)="refresh()">
              <i class="fas fa-redo-alt"></i>
            </button>
            <mat-form-field class="pageSize" style=" width: 40%; margin-left: 20px;">
              <mat-label>Number items</mat-label>
              <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                <mat-option [value]="5"> 5 </mat-option>
                <mat-option [value]="10"> 10 </mat-option>
                <mat-option [value]="20"> 20 </mat-option>
                <mat-option [value]="50"> 50 </mat-option>
                <mat-option [value]="100"> 100 </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6 col-6 d-flex justify-content-center align-items-center">
            <pagination-controls 
                [(maxSize)]="itemPerPage" 
                (pageChange)="currentPage = $event"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
        </div>
        <div class="col-sm-3 col-3 d-flex justify-content-end align-items-center">
            <p class="mb-0 ">Total: {{ groupedData.length }}</p>
        </div>
    </div>
</div>
