<div class="card-header move-cursor" cdkDrag cdkDragRootElement=".modal-content, .cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex justify-content-between">
        <div class="col-10 p-0 d-flex align-items-center">
            <span style="font-size: 20px;">
                <ng-container>
                    {{this.data.chartData.name}}
                    <i class="fas fa-chevron-right"></i>
                    {{this.chartDetailName}}
                </ng-container>
            </span>
            <div class="d-inline" style="font-size: 20px;">
                <span class="badge bg-primary ml-2">{{startDate | DMYDateFormat}}
                    - {{endDate | DMYDateFormat}}</span>
                <button class="viewBtn btn btn-outline-primary btn-sm ml-2" (click)="onViewDetail(chartDetail.id)">
                    <mat-icon style="font-size: 20px; vertical-align: middle; height: fit-content;">settings</mat-icon>
                </button> 
            </div>
        </div>

        <div class="d-flex align-items-center">
            <!-- <span class="total mr-4"><strong>Tổng: {{total |formatMoney}}</strong></span> -->
            <i class="fas fa-times pointer" (click)="onClose()"></i>
        </div>
        
    </div>
</div>
<div class="card-body" id="chartDetailData">
    <div class="table-responsive mt-3">
        <div class="fixTableHead">
            <table class="table table-striped table-hover" [busy]="isLoading">
                <thead>
                    <tr>
                        <th class="align" (click)="sortData('employeeId')" style="cursor: pointer;">
                            {{ "Id" }}
                            <i class="icon" [ngClass]="iconSort" *ngIf="sortColumn === 'employeeId'"></i>
                            <i *ngIf="sortColumn !== 'employeeId'" class="fas fa-sort"></i>
                        </th>
                        <th class="align" (click)="sortData('email')" style="cursor: pointer;">
                            {{ "Employee" }}
                            <i class="icon" [ngClass]="iconSort" *ngIf="sortColumn === 'email'"></i>
                            <i *ngIf="sortColumn !== 'email'" class="fas fa-sort"></i>
                        </th>
                        <th *ngIf="isEmployeeChart" class="align" (click)="sortData('monthlyStatus')" style="cursor: pointer;">
                            {{ "Working Status" }}
                            <i class="icon" [ngClass]="iconSort" *ngIf="sortColumn === 'monthlyStatus'"></i>
                            <i *ngIf="sortColumn !== 'monthlyStatus'" class="fas fa-sort"></i>
                        </th>
                        <th *ngIf="isEmployeeChart" class="align" (click)="sortData('statusMonth')" style="cursor: pointer;">
                            {{ "Month" }}
                            <i class="icon" [ngClass]="iconSort" *ngIf="sortColumn === 'statusMonth'"></i>
                            <i *ngIf="sortColumn !== 'statusMonth'" class="fas fa-sort"></i>
                        </th>
                        <th *ngIf="!isEmployeeChart" class="align" (click)="sortData('salary')" style="cursor: pointer;">
                            {{ "Money" }}
                            <i class="icon" [ngClass]="iconSort" *ngIf="sortColumn === 'salary'"></i>
                            <i *ngIf="sortColumn !== 'salary'" class="fas fa-sort"></i>
                        </th>
                        <th *ngIf="!isEmployeeChart" class="align" (click)="sortData('payrollMonth')" style="cursor: pointer;">
                            {{ "Month" }}
                            <i class="icon" [ngClass]="iconSort" *ngIf="sortColumn === 'payrollMonth'"></i>
                            <i *ngIf="sortColumn !== 'payrollMonth'" class="fas fa-sort"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of sortedDetail | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage }; let i = index">
                        <td class="text-center">{{ item.employeeId }}</td>
                        <td>
                            <app-user-info [userData]="{
                                id: item.employeeId,
                                fullName: item.fullName,
                                avatarFullPath: item.avatarFullPath,
                                sex: item.gender,
                                email: item.email,
                                levelInfo: item.levelInfo,
                                branchInfo: item.branchInfo,
                                jobPositionInfo: item.jobPositionInfo,
                                userTypeInfo: item.userTypeInfo
                            }" 
                            >
                            <!-- [isAllowRouting]="isAllowRoutingDetail()" [isAllowAvatarRouting]="isAllowRoutingDetail()" -->
                            </app-user-info>
                        </td>
                        <td *ngIf="isEmployeeChart" class="text-center">{{ getMonthlyStatus(item.monthlyStatus) }}</td>
                        <td *ngIf="isEmployeeChart" class="text-center">{{ item.statusMonth | MyDateFormat }}</td>
                        <td *ngIf="!isEmployeeChart" class="text-right">{{ item.salary }}</td>
                        <td *ngIf="!isEmployeeChart" class="text-center">{{ item.payrollMonth | MyDateFormat }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-2 d-flex justify-content-between">
        <div class="col-sm-3 col-3 text-sm-left text-center d-flex align-items-center">
            <button class="btn btn-primary" (click)="refresh()">
              <i class="fas fa-redo-alt"></i>
            </button>
            <mat-form-field class="pageSize" style=" width: 40%; margin-left: 20px;">
              <mat-label>Number items</mat-label>
              <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                <mat-option [value]="5"> 5 </mat-option>
                <mat-option [value]="10"> 10 </mat-option>
                <mat-option [value]="20"> 20 </mat-option>
                <mat-option [value]="50"> 50 </mat-option>
                <mat-option [value]="100"> 100 </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6 col-6 d-flex justify-content-center align-items-center">
            <pagination-controls 
                [(maxSize)]="itemPerPage" 
                (pageChange)="currentPage = $event"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
        </div>
        <div class="col-sm-3 col-3 d-flex justify-content-end align-items-center">
            <p class="mb-0 ">Total: {{ sortedDetail.length }}</p>
        </div>
    </div>
</div>
