<div class="px-4 pt-1">
    <div class="breadcrumb">
        <app-bread-crumb  [listBreadCrumb]="listBreadCrumb"></app-bread-crumb>
    </div>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="col-6 p-0">
                <app-search [placeholder]="'Search by Name'" [seachText]="searchText"
                    (onSearch)="onSearchEnter($event)"></app-search>
            </div>
            <div class="col-3 p-0 d-flex justify-content-between align-items-center pl-4 text-right">
                <table-filter [filterType]="filterTypeEnum.Dropdown" [dropdownData]="filterList"
                    [placeholder]="'Is active'" [defaultValue]="DEFAULT_FILTER_VALUE"
                    (onTableFilter)="onTableFilter(filterTypeEnum.Dropdown, $event, 'isActive')">
                </table-filter>
            </div>
            <div class="col-3 p-0 d-flex justify-content-end">
                <app-create-button  *ngIf="isShowCreateBtn()" (create)="onCreate()"></app-create-button>
            </div>
        </div>
        <div class="card-body pb-1">
            <div class="table-responsive">
                <div class="fixTableHead">
                    <table class="table table-striped table-hover" [busy]="isLoading">
                        <thead>
                            <tr>
                                <th class="col-stt">#</th>
                                <th>Name</th>
                                <th class="">API</th>
                                <th class="col-active">Is active</th>
                                <th class="col-action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let punishmentType of punishmentTypeList | paginate: {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              }; let i = index">
                                <td class="text-center">{{(pageNumber-1)*pageSize+i+1}}</td>
                                <td>{{punishmentType.name}}</td>
                                <td [alt]="punishmentType.api" [matTooltip]="punishmentType.api"
                                    matTooltipClass="my-tooltip" class="col-api">
                                    {{punishmentType.api}}
                                </td>
                                <td class="text-capitalize text-center">
                                    <div class="custom-control custom-checkbox ml-2">
                                        <input type="checkbox" class="custom-control-input" name="isActive"
                                            id="isActive" disabled [(ngModel)]="punishmentType.isActive" />
                                        <label class="custom-control-label mt-1" for="isActive"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div>
                                        <app-edit-button *ngIf="isShowEditBtn()" (update)="onUpdate(punishmentType)"></app-edit-button>
                                        <app-delete-button *ngIf="isShowDeleteBtn()" (delete)="onDelete(punishmentType)"></app-delete-button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <pagination-control [totalItems]="totalItems" [pageSize]="pageSizeType"
                (pageAction)="pageControlActions($event)"></pagination-control>
        </div>
    </div>
</div>