.dialogTitle{
    font-size: 25px;
}
.dialog-header{
    cursor: move;
}
.out-line{
    border-bottom: 0.2px solid rgba(204, 204, 204, 0.35);
    ;
}
.close-btn{
    background: none;
    border: none;
}