<form class="form-horizontal" autocomplete="off" #resetPasswordModal="ngForm">
  <app-dialog-header [dialogTitle]="title">
  </app-dialog-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="newPassword">
        {{ "NewPassword" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="NewPassword" id="newPassword"  required
          [(ngModel)]="resetPasswordDto.newPassword" #password #newPassword="ngModel" #newPasswordEl required />
          <abp-validation-summary [control]="newPassword" [controlEl]="newPasswordEl">
          </abp-validation-summary>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <button class="btn btn-success btn-sm" (click)="randomPassword()">
          Random password
        </button>
      </div>
    </div>
  </div>
  <app-dialog-footer (onSave)="resetPassword()" [isDisable]="!resetPasswordModal.form.valid || isLoading"></app-dialog-footer>
</form>