<form class="form-horizontal" autocomplete="off" #multiMezonForm="ngForm" novalidate>
  <app-dialog-header [dialogTitle]="title"></app-dialog-header>

  <div class="p-3">
    <!-- Payroll (optional) -->
    <div class="form-group">
      <div class="row">
        <label class="col-3 mt-2 col-form-label">Payroll:</label>
        <div class="col-8">
          <mat-form-field appearance="outline" class="common-input w-100">
            <mat-select
              name="payroll"
              [(ngModel)]="payrollId"
              placeholder="Select Payroll"
              #payroll="ngModel"
            >
              <mat-option *ngFor="let payroll of listPayroll" [value]="payroll.value">
                {{ payroll.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1 d-flex align-items-center">
          <button class="btn-clear-all custom-border" type="button" (click)="clearPayroll()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Amount (required) -->
    <div class="form-group required">
      <div class="row">
        <label class="col-3 mt-2 col-form-label">Amount:</label>
        <div class="col-9">
          <mat-form-field appearance="outline" class="common-input w-100">
            <input
              type="text"
              mask="separator"
              thousandSeparator=","
              matInput
              name="amount"
              [(ngModel)]="amount"
              #amountCtrl="ngModel"
              cdkFocusInitial
              #amountEl
              required
            />
          </mat-form-field>
          <abp-validation-summary [control]="amountCtrl" [controlEl]="amountEl"></abp-validation-summary>
        </div>
      </div>
    </div>

    <!-- Note -->
    <div class="form-group">
      <div class="row">
        <label class="col-3 mt-2 col-form-label">Note:</label>
        <div class="col-9">
          <mat-form-field appearance="outline" class="common-input w-100">
            <textarea
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              name="note"
              class="w-100 mt-2"
              rows="4"
              [(ngModel)]="note"
              placeholder="leave a comment"
              #noteCtrl="ngModel"
              matInput
              #noteEl
            ></textarea>
          </mat-form-field>
          <abp-validation-summary [control]="noteCtrl" [controlEl]="noteEl"></abp-validation-summary>
        </div>
      </div>
    </div>
  </div>

  <div class="pr-3 pl-3">
    <div class="d-flex justify-content-end">
      <button class="btn mr-2 btn-secondary" mat-dialog-close>Cancel</button>
      <button
        class="btn btn-primary"
        [disabled]="!multiMezonForm.valid || isLoading"
        (click)="addEmployee()"
      >
        Next
      </button>
    </div>
  </div>
</form>
