<div class="px-4 pt-1">
  <div class="breadcrumb al-center">
    <a [routerLink]="['/']"><i class="fa-solid fa-house fa-sm"></i></a>
    <i class="fa-solid fa-chevron-right fa-sm"></i>
    <a [routerLink]="'/app/admin/charts'" class="hyperlink">Chart</a>
    <i class="fa-solid fa-chevron-right fa-sm"></i>
    <span class="p-2">{{ chartFull.name }}</span>
    <span
      class="mr-1 ml-1 p-2 badge"
      [ngClass]="chartFull.chartType ? 'badge-success' : 'badge-warning'"
      >{{ chartFull.chartTypeName }}</span
    >
    <span
      class="mr-1 ml-1 p-2 badge"
      [ngClass]="chartFull.isActive ? 'badge-success' : 'badge-error'"
      >{{ chartFull.isActive ? "Active" : "Inactive" }}</span
    >
    <span
      class="mr-1 ml-1 p-2 badge"
      [ngClass]="chartFull.chartDataType ? 'badge-success' : 'badge-warning'"
      >{{ chartFull.chartDataTypeName }}</span
    >
  </div>
  <div class="card">
    <div class="card-header d-flex jc-right">
      <div class="p-0 mt-1 text-right">
        <app-create-button
          *ngIf="isShowCreateBtn()"
          (create)="onCreate()"
        ></app-create-button>
      </div>
    </div>
    <div class="card-body pb-1" id="bg-table">
      <div class="table-responsive">
        <div class="fixTableHead">
          <table class="table table-striped table-hover" [busy]="isLoading">
            <thead>
              <tr>
                <th class="col-stt">#</th>
                <th>Name</th>
                <th>Filtered Data</th>
                <th>Active</th>
                <th class="col-action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let chartFullDetail of chartFullDetailList;
                  let i = index
                "
              >
                <td class="text-center">
                  {{ (pageNumber - 1) * pageSize + i + 1 }}
                </td>
                <td [style.color]="chartFullDetail.color">
                  {{ chartFullDetail.name }}
                </td>
                <td class="col-6">
                  <div
                    *ngIf="chartFullDetail.gender.length > 0"
                    class="filter-box border-cyan"
                  >
                    <span
                      *ngFor="let enum of chartFullDetail.gender; index as i"
                      class=""
                    >
                      {{ enum.key
                      }}{{ i < chartFullDetail.gender.length - 1 ? "," : "" }}
                    </span>
                  </div>
                  <div
                    *ngIf="chartFullDetail.branches.length > 0"
                    class="filter-box border-red"
                  >
                    <span
                      *ngFor="let item of chartFullDetail.branches; index as i"
                    >
                      {{ item.name
                      }}{{ i < chartFullDetail.branches.length - 1 ? "," : "" }}
                    </span>
                  </div>
                  <div
                    *ngIf="chartFullDetail.jobPositions.length > 0"
                    class="filter-box border-green"
                  >
                    <span
                      *ngFor="
                        let item of chartFullDetail.jobPositions;
                        index as i
                      "
                    >
                      {{ item.name
                      }}{{
                        i < chartFullDetail.jobPositions.length - 1 ? "," : ""
                      }}
                    </span>
                  </div>
                  <div
                    *ngIf="chartFullDetail.levels.length > 0"
                    class="filter-box border-orange"
                  >
                    <span
                      *ngFor="let item of chartFullDetail.levels; index as i"
                    >
                      {{ item.name
                      }}{{ i < chartFullDetail.levels.length - 1 ? "," : "" }}
                    </span>
                  </div>
                  <div
                    *ngIf="chartFullDetail.teams.length > 0"
                    class="filter-box border-purple"
                  >
                    <span
                      *ngFor="let item of chartFullDetail.teams; index as i"
                    >
                      {{ item.name
                      }}{{ i < chartFullDetail.teams.length - 1 ? "," : "" }}
                    </span>
                  </div>
                  <div
                    *ngIf="chartFullDetail.userTypes.length > 0"
                    class="filter-box border-blue"
                  >
                    <span
                      *ngFor="let enum of chartFullDetail.userTypes; index as i"
                    >
                      {{ enum.key
                      }}{{
                        i < chartFullDetail.userTypes.length - 1 ? "," : ""
                      }}
                    </span>
                  </div>
                  <div
                    *ngIf="chartFullDetail.workingStatuses.length > 0"
                    class="filter-box border-yellow"
                  >
                    <span
                      *ngFor="
                        let enum of chartFullDetail.workingStatuses;
                        index as i
                      "
                    >
                      {{ enum.key
                      }}{{
                        i < chartFullDetail.workingStatuses.length - 1
                          ? ","
                          : ""
                      }}
                    </span>
                  </div>
                  <div
                    *ngIf="chartFullDetail.payslipDetailTypes.length > 0"
                    class="filter-box border-lime"
                  >
                    <span
                      *ngFor="
                        let enum of chartFullDetail.payslipDetailTypes;
                        index as i
                      "
                    >
                      {{ enum.key
                      }}{{
                        i < chartFullDetail.payslipDetailTypes.length - 1
                          ? ","
                          : ""
                      }}
                    </span>
                  </div>
                </td>
                <td class="col-1 text-center">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      disabled
                      [checked]="chartFullDetail.isActive"
                    />
                    <label class="custom-control-label"></label>
                  </div>
                </td>
                <td class="col-1 text-center">
                  <div
                    style="visibility: hidden; position: fixed"
                    [style.right]="contextMenuPosition.x"
                    [style.top]="contextMenuPosition.y"
                    [matMenuTriggerFor]="menu"
                  ></div>
                  <button mat-button [matMenuTriggerFor]="menu">
                    <i class="fas fa-bars fa-lg"></i>
                  </button>
                  <mat-menu #menu="matMenu" class="p-2">
                    <button
                      *ngIf="isShowEditBtn()"
                      (click)="onUpdate(chartFullDetail)"
                      class="mat-menu-item w-100"
                    >
                      <i class="fas fa-pencil-alt mr-1"></i>
                      <span>Edit</span>
                    </button>
                    <button
                      *ngIf="isShowActiveBtn()"
                      class="mat-menu-item"
                      (click)="
                        chartFullDetail.isActive
                          ? onDeActive(chartFullDetail.id)
                          : onActive(chartFullDetail.id)
                      "
                    >
                      <i class="fas fa-edit fa-lg mr-1"></i>
                      <span>{{
                        chartFullDetail.isActive ? "Deactive" : "Active"
                      }}</span>
                    </button>
                    <button
                      *ngIf="isShowDeleteBtn()"
                      class="mat-menu-item w-100"
                      (click)="onDelete(chartFullDetail)"
                    >
                      <i class="fas fa-trash fa-lg mr-1"></i>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
