tbody td{
    vertical-align: middle;
}
.col-updateTime {
    width: 140px;
}

.col-status{
    width: 150px;
}

.btn-accept {
    font-size: x-large;
    color: var(--success)
}

.btn-cancel {
    font-size: x-large;
    color: var(--danger)
}

.btn-accept:hover,
.btn-cancel:hover {
    filter: brightness(0.8);
}

.col-updatedTime{
    width: 160px;
}

.col-date{
    width: 200px;
}

.full-note{
    white-space: pre-line;
    word-break: break-all;
}
.edit-button{
    margin-right: 60px !important;
}
.col-action {
    width: 120px;
}